{% extends 'index.html' %}
{% block container %}

    <script src="/static/js/posts.js"></script>
    <div class="container">
    <br><br><br>
    <h2 class="section-heading text-uppercase">카페 소개를 해주세요</h2>


     <div class="table-responsive">
        <table class="table table-striped table-sm">
          <thead>
            <tr>
              <th>#</th>
              <th>글 작성자</th>
                <br>
              <th>글 내용</th>
              <th>작성 시간</th>

            </tr>
          </thead>
          <tbody>
            {% for post in posts %}
            <tr>
              <td>{{ post.id }}</td>
              <td>{{ post.author }}</td>
              <td>{{ post.contents }}</td>
              <td>{{ post.created_date }}</td>

            </tr>
            {% endfor %}
          </tbody>

        </table>
      <button type="button"
                class="btn btn-primary"
                onclick="new_post()">새글작성</button>
     <br>
     <br><br><br>
        <div class="m-1"></div>
      </div>
    <br><br><br>
 </div>
{% endblock %}

