<html>
<head>
	<meta charset="utf-8"/>
	<title>Kakao 지도 시작하기</title>
</head>
<body>
	<div id="map" style="width:500px;height:400px;"></div>
	<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=4c64d68d5442a3c8575b9f9ee71c8290&libraries=services"></script>
	<script>
		var container = document.getElementById('map');
		var options = {
			center: new kakao.maps.LatLng(33.450701, 126.570667),
			level: 3
		};

		var map = new kakao.maps.Map(container, options);
		var attractions = JSON.parse("{{ attractionJson|escapejs }}");
        console.log(attractions)
        var positions = [];
        var geocoder = new kakao.maps.services.Geocoder();
        for (var i = 0; i < Object.keys(attractions).length; i++) {
            geocoder.addressSearch(attractions[i].addr, function(result, status) {

    // 정상적으로 검색이 완료됐으면
                 if (status === kakao.maps.services.Status.OK) {
                    console.log(result)
                    var coords = new kakao.maps.LatLng(result[0].y, result[0].x);

                    // 결과값으로 받은 위치를 마커로 표시합니다
                    var marker = new kakao.maps.Marker({
                        map: map,
                        position: coords
                    });

                    // 인포윈도우로 장소에 대한 설명을 표시합니다
                    var infowindow = new kakao.maps.InfoWindow({
                        content: '<div style="width:150px;text-align:center;padding:6px 0;">{{ tmp }}</div>'
                    });
                    infowindow.open(map, marker);

                    // 지도의 중심을 결과값으로 받은 위치로 이동시킵니다
                    map.setCenter(coords);
    }
});    };
	</script>
</body>
</html>