
<html>

    <head>
        <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="/static/css/button.css" rel="stylesheet">
    </head>
    <body>

        <div class= "container">
            <div class = "raw">
            <div class = "col-12" >
                <div class = "col-12 text-center">
                    <br><br><br>
                <h1>Forgot your ID?</h1><br>
                <div>
                <a class="nav-link active" aria-current="page" href="/">Home</a>
                </div>
                </div>
            </div>
        </div>
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<script src="/static/js/users.js"></script>

      <div class= "container">
        <div class = "row mt-5">
            <div class = "col-12 ">
    <div class = "row mt-5">
        <div class = "col-12 ">

    <form action="/#" method="#">
        {% csrf_token %}

      <div class="form-group" style="margin: auto; width:70%;">
        <span>
        <img src="/static/img/usericon.PNG" style="width: 15px; height: 15px;">
        </span>
        <label for="email">Email</label>
        <input type="email"
        class="form-control"
        name = "email"
        id="email"
        placeholder="Email">
      </div>

        <br><br>
        <div class="wrap">
            <button type="submit" id="submit" class="button"
                    onclick="alert('이메일로 아이디를 보냈습니다.')"
                    style="font-size:18px;">Send reset link to email</button>
        </div>

    </form></div></div></div></div></div></div>
</form>
</body>
</html>

