# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\cafe\maps\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
